.main-area {
  width: 1000px;
  background-color: #9a0909;
  display: inline-block;
  padding: 3px;
  padding-bottom: 20px;
}

header {
  text-align: center;
  vertical-align: middle;
}

.img-title {
  width: 50%;
}

.top-nav {
  width: 960px;
  margin: auto;
}

nav ul {
  padding-inline-start: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  margin: auto;
  padding-top: 20px;
}

nav li {
  width: 200px;
  text-align: center;
}

.top-nav-name-item {
  display: inline-block;
  color: white;
  margin: auto;
  padding-bottom: 3px;
}

.img-top-nav {
  width: 80%;
  text-decoration: none;
}

.main-content {
  width: 960px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.left-nav {
  width: 250px;
  height: 300px;
  background-color: #7d0909;
}

.left-nav-item {
  color: #e95b11;
  margin-left: 7px;
}

.center-text {
  width: 520px;
  color: white;
}

aside {
  width: 160px;
  float: right;
  background-color: #e3dddd;
}

.aside-title {
  width: 160px;
  background-color: #bdbdbd;
  margin-left: auto;
  margin-right: auto;
}

h4 {
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
}

hr {
  width: 70px;
  margin-block-end: 0.5em;
}

.popular-post {
  color: black;
  text-align: left;
  padding-left: 4px;
}

footer {
  width: 960px;
  background-color: #e95b11;
  color: white;
  text-align: center;
  margin: auto;
}
